body
{
    background: crimson;
    justify-content: center;
    display: flex;
    align-items: center;
    
}
.container
{
    background: rgb(0, 0, 0);
    height: 300px;
    width: 500px;
    width: 80%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    margin: 100px;
    padding: 200px;
    border:10px solid cyan;
}
.text
{
    font-size: 50px;
    text-align: center;
    color:chocolate;
}
.name 
{
    padding: 30px;
    margin: 20px;
    font-size: 20px;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    color:yellowgreen;
    border:5px solid thistle;
    border-radius: 50px;
}
.Texty
{
    margin: 10px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.playerName
{
border-radius: 8px;
border:3px solid rebeccapurple;
height: 40px;
width: 300px;
font-size: 30px;
}
.startButton
{
    color:red;
    background:saddlebrown;
    padding: 10px;
    font-size: 20px;
    font-weight:600 ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-inline: 30px;
    border:4px solid rgb(0, 0, 0) ;
    border-radius: 20px;
    cursor: pointer;
}
.startButton:hover
{
    border-color: seashell;
    background: skyblue;
}
.maze
{
    padding:30px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.b1,.b2,.b3
{
    margin: 10px;
    border-radius: 10px;
    font-size: 70px;
    color: black;
    background: white;
}
.b1:disabled,.b2:disabled,.b3:disabled
{
    background:rgb(173, 173, 173);
}
.b 
{
    height:100px;
    width: 100px;
    cursor: pointer;
}
.row1,.row2,.row3
{
    justify-content: center;
    align-items: center;
    display: flex;
}
.Playersc
{
    height: 300px;
    width: 300px;
    border: 10px solid red;
    border-radius: 20px;
    font-size: 50px;
    background: rgb(0, 0, 0);
    display: none;
    text-align: center;
    justify-content: center;
    color: palegreen;
    flex-direction: column;
}
.Computer
{
    height: 300px;
    width: 300px;
    border: 10px solid rgb(255, 0, 0);
    border-radius: 20px;
    font-size: 50px;
    background: rgb(4, 5, 5);
    display: none;
    color: rgb(251, 255, 0);
    justify-content: center;
    text-align: center;
    flex-direction: column;

}
.namepartP,.namepartC
{
    width: 300px;
    height:100px;
    align-items:center;

}
.reset
{
    background: chartreuse;
    width: 300px;
    height: 40px;
    display: none;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 5px solid rgb(0, 0, 0);
    cursor:pointer;
    position: absolute;
    top: 548px;
    z-index: 3;
}
.reset:hover
{
    border:5px solid cyan;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-weight: 600;
}
.reset:hover + .status
{
    border-color: rgb(251, 255, 0);
}
.status
{
    background: blue;
    width:200px;
    height: 70px;
    border:5px solid rgb(0, 0, 0);
    border-radius: 15px;
    position: absolute;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 60px;
    padding:50px;
    color: yellow;
    display: none;
}
.turn
{
    
    width: 70%;
    height:50px;
    position:absolute;
    top: 700px;
    color: tomato;
    background: rgb(0, 0, 0);
    border: 2px solid white;
    border-radius: 10px;
    display: none;
    font-size: 30px;
    justify-content: center;
    align-items: center;
}
.restart
{
    height: 50px;
    width:300px;
    background: rgb(0, 0, 0);
    justify-content: center;
    display: none;
    align-items: center;
    position: absolute;
    top:122px;
    border: 5px solid black;
    border-radius: 10px;
    font-size: 30px;
    cursor: pointer;
}
.restart:hover
{
    background: red;
    border-color: rgb(255, 255, 255);
}

@media all and (max-width:1470px)
{
    body
    {
        align-items: center;
    }
    .container
    {
        padding:30px;
        height: 600px;
    }
    .name
    {
        margin: 20px;
        padding: 3px;
        width: 300px;
        flex-direction: column;
    }
    .textfield
    {
        font-size: 10px;
        padding: 5px;
        margin: 10px;

    }
    .playerName
    {
        font-size: 20px;
        height: 10px;
        padding: 10px;
        width: 250px;

    }
    .Texty
    {
        height: 20px;
    }
    .text
    {
        font-size: 30px;
        width: 250px;
    }
    .Computer
    {
        width:200px;
    }
    .Playersc
    {
        width: 200px;
    }

}